@model List<MerchShop.Models.User>

<h2>User List</h2>

<table class="table">
    <thead>
    <tr class="lead text-muted">
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var u in Model)
    {
    <tr class="lead text-muted">
        <td>@u.Id</td>
        <td>@u.Email</td>
        <td>@u.Password</td>
        <td>@u.Role.RoleName</td>
        <td>
            <form asp-controller="Admin" asp-action="AdminPanel" asp-route-id="@u.Id" method="post" onsubmit="return confirm('Are you sure?');">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn custom-btn-red btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>
